<h2>Password Reset Request</h2>
<p>Hi {{firstName}},</p>
<p>We received a request to reset your password. Click the button below to create a new password:</p>

<a href="{{resetUrl}}" class="btn">Reset Password</a>

<p>This link will expire in <strong>1 hour</strong>.</p>
<p>If you didn't request a password reset, you can safely ignore this email.</p>